html {
    color: #EFF0F6;
    background-color: #272933;
    text-align: center;

}

.maintext {
    margin: auto;
}

.mainlink {
    font-size: 48px;
    width: 380px;
    text-align: center;
    margin: auto;
    color: red;
}

.link {
    font-size: 36px;
    text-align: center;
    width: 380px;
    margin: 1em auto ;
}
.imgs {
    width: 150px;
    margin: auto;
}
.imgm {
    width: 200px;
    margin: auto;
}
.imgl {
    width: 250px;
    margin: auto;
}
.imgxl {
    width: 300px;
    margin: auto;
}
.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 1px;
    text-align: center;
    font-size: 36px;
    border: 1px solid black;
    border-bottom-style: hidden;
}
.footer p {
    margin: 0px 0px 4% 0px;
    max-height: fit-content;
}
