* {
    box-sizing: border-box;
}

html {
    color: #EFF0F6;
    background-color: #272933;
    text-align: center;
    line-height: 1.15;
}

body {
    width: auto;
    margin: auto;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

#header {
    width: 60vw;
    font-size: 32px;
    margin: auto;
    min-height: 15vw;
    text-align: center;
}

hr {
    width: 70vw;
    margin-top: 80px;
}

#logo {
    float: left;
}

main {
    min-height: calc(95vh - 30px);
    background-color: #1F2128;
    max-width: 95vw;
    margin: auto;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tortenet {
    margin: auto;
    max-width: 60vw;
    margin-bottom: 15vh;
    width: 50vw;
    text-align: justify;
}

.container {
    padding-top: 14px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


ul, ol {
    list-style-type: none;
}

.link {
    font-size: 36px;
    text-align: center;
    width: 380px;
    margin: 1em auto ;
}

a {
    color: blue;
    font-size: 24px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: oblique;
}

.felsorolas {
    text-align: left;
    font-size: 24px;
    padding-left: 20%;
    list-style-type: square;
}

.felsorolas li {
    padding: 5px;
}

.felsorolas li:first {
    padding-top: 0;
}

.felsorolas li:last-child {
    padding-bottom: 0;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 7.5vh;
}

.table {
    border: 3px solid #C70039;
    border-collapse: collapse;
    width: 45%;
    left: 33%;
    right: 0;
    margin: auto;
    margin-bottom: 0;
    margin-top: 7vh;
}

.table td { 
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
    font-size: 24px;
}

.table td:first-child {
    font-weight: bold;
}

table th {
    padding: 4px;
    font-size: 32px;
}

.sarga {
    color: #FFC300;
}

/* ----------footer---------- */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    border-top: 1px solid #17181D;
    padding-top: 3px;
    padding-bottom: 0;
    color: #b9b9b9;
    font-size: 12px;
}

.footer--flex {
    height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-start p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 2.83;
}

.footer-end {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 1;
}

  
.footer-end li {
    margin-right: 20px;
}

  
.footer-end li:last-child {
    margin-right: 0;
}

.footer-end li:first-child a {
    font-weight: bold;
    font-size: calc(100% + 10px);
}
  
.footer a {
    font-size: 12px;
    color: #b9b9b9;
    text-decoration: none;
    font-weight: 500;
    line-height: 2.83;
    border-bottom: 1px transparent dashed;
}
  
.footer a:hover {
    color: #2f49d1;
    border-color: #2f49d1;
}
